/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-dic-2017, 17:59:22
    Author     : usuario
*/

table{
    border: 1px solid black;
    border-collapse: collapse;
    width:250px;
}

td{
    padding: 5px;
    font-weight: bold;
    border-left: 3px solid black;
}

table>tbody>tr{
    border-bottom: 3px solid black;
}

tr:last-child{
    border-bottom: none;
}

td:first-child {
    border-right: 4px solid black;
    border-left: 0px;
}



